<div class="fixed z-10 top-0 left-0 right-0 h-12" #toolbar>
  <div
    appTapout
    (tapout)="onBlurTool()"
    (mousedown)="onFocusTool()"
    (touchstart)="onFocusTool()"
    class="h-full flex justify-center items-center bg-gray-300 border-b border-gray-400"
  >
    <div class="mr-2 flex items-center">
      <img
        src="assets/icons/line_height.svg"
        class="w-6 mr-2"
        alt="Line height"
      />
      <label for="lineHeight" class="sr-only"></label>
      <input
        id="lineHeight"
        min="1"
        max="10"
        step="0.1"
        type="number"
        class="h-6 w-12 text-center flex-shrink-0 rounded-sm"
        [(ngModel)]="lineHeight"
      />
    </div>
    <div class="mr-2 flex items-center">
      <img src="assets/icons/text.svg" class="w-6 mr-2" alt="Font size" />
      <label for="size" class="sr-only"></label>
      <input
        id="size"
        min="12"
        max="120"
        step="1"
        type="number"
        class="h-6 w-12 text-center flex-shrink-0 rounded-sm"
        [(ngModel)]="size"
      />
    </div>
    <div class="mr-2 flex items-center">
      <img
        src="/assets/icons/text-family.svg"
        class="w-4 mr-2"
        alt="Font family"
      />
      <div class="relative w-32 md:w-40">
        <label for="fontFamily" class="sr-only"></label>
        <select
          id="fontFamily"
          class="font-family"
          (change)="onChangeFont()"
          [(ngModel)]="fontFamily"
        >
          <option *ngFor="let family of families" [value]="family">
            {{ family }}
          </option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757
                6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>
    </div>
    <div
      (click)="onDelete()"
      class="w-5 h-5 rounded-full bg-white cursor-pointer"
    >
      <img
        class="w-full h-full"
        src="assets/icons/delete.svg"
        alt="delete object"
      />
    </div>
  </div>
</div>

<div
  appTapout
  class="absolute left-0 top-0 select-none"
  [ngStyle]="{
    transform: getTransformStyleWrapper()
  }"
  (tapout)="onBlur()"
>
  <div
    appPannable
    class="absolute w-full h-full cursor-grab border border-dotted border-gray-500"
    [ngClass]="{
      'editing': isEditing(operation),
      'cursor-grab': !operation,
      'cursor-grabbing': operation === 'move',
    }"
    (panend)="handlePanEnd()"
    (panmove)="handlePanMove($event)"
    (panstart)="handlePanStart($event)"
  ></div>
  <div
    class="outline-none whitespace-no-wrap"
    spellcheck="false"
    contenteditable="true"
    #editable
    [ngStyle]="{
      'font-size': size + 'px',
      'font-family': fontFamily + ', serif',
      'line-height': lineHeight,
      '-webkit-user-select': 'text',
    }"
    (focus)="onFocus()"
    (paste)="onPaste($event)"
    (keydown)="onKeydown($event)"
  ></div>
</div>
