@tailwind base;
@tailwind components;
@tailwind utilities;

.operation {
  background-color: rgba(0, 0, 0, 0.3);
}

.shadow-outline {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.whitespace-no-wrap {
  white-space: nowrap;
}
