<div class="absolute left-0 top-0 select-none" [ngStyle]="wrapperStyles">
  <div
    appPannable
    class="absolute w-full h-full cursor-grab"
    [ngClass]="operatorClasses"
    (panend)="handlePanEnd()"
    (panmove)="handlePanMove($event)"
    (panstart)="handlePanStart($event)"
  >
    <div
      data-direction="left"
      class="resize-border h-full w-1 left-0 top-0 border-l cursor-ew-resize"
    ></div>
    <div
      data-direction="top"
      class="resize-border w-full h-1 left-0 top-0 border-t cursor-ns-resize"
    ></div>
    <div
      data-direction="bottom"
      class="resize-border w-full h-1 left-0 bottom-0 border-b cursor-ns-resize"
    ></div>
    <div
      data-direction="right"
      class="resize-border h-full w-1 right-0 top-0 border-r cursor-ew-resize"
    ></div>
    <div
      data-direction="left-top"
      class="resize-corner left-0 top-0 cursor-nwse-resize transform -translate-x-1/2 -translate-y-1/2 md:scale-25"
    ></div>
    <div
      data-direction="right-top"
      class="resize-corner right-0 top-0 cursor-nesw-resize transform translate-x-1/2 -translate-y-1/2 md:scale-25"
    ></div>
    <div
      data-direction="left-bottom"
      class="resize-corner left-0 bottom-0 cursor-nesw-resize transform -translate-x-1/2 translate-y-1/2 md:scale-25"
    ></div>
    <div
      data-direction="right-bottom"
      class="resize-corner right-0 bottom-0 cursor-nwse-resize transform translate-x-1/2 translate-y-1/2 md:scale-25"
    ></div>
  </div>
  <div
    class="absolute left-0 top-0 right-0 w-12 h-12 m-auto rounded-full bg-white cursor-pointer transform -translate-y-1/2 md:scale-25"
    (click)="onDelete()"
  >
    <img
      alt="delete object"
      src="assets/icons/delete.svg"
      class="w-full h-full"
    />
  </div>
  <canvas #imageCanvas class="w-full h-full"></canvas>
</div>
